<div class="list-group-item clearfix{{ resource.path == selectedPath ? ' active' : '' }}">
    <span class="glyphicon glyphicon-{{ resource.hasChildren ? 'folder-close' : 'file' }}"></span>
    {{ resource.name }}
    <div class="pull-right">
        <a href="#" class="btn btn-xs btn-warning">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
    </div>
</div>
