<div class="ui four column aligned padded grid">
    {% for column in columns %}
        <div class="column">
            <div class="ui segment">
            <div class="item">
                <h2>{{ column.name }}</h2>
                <a href="#" class="btn btn-default glyphicon-plus"></a>
            </div>
            <div class="ui divided items">
                {% for resource in column.resources %}
                    {% include "CmfColumnBrowserBundle:browser:_item.html.twig" %}
                {% endfor %}
            </div>
            </div>
        </div>
    {% endfor %}
</div>
